<header>
  <h1>
    <img src="/assets/logo.svg" alt="Shortly logo" id="site-logo"/>
  </h1>
  <nav [class.visible]="menuVisible">
    <ul>
      <li><a href="">Features</a></li>
      <li><a href="">Pricing</a></li>
      <li><a href="">Resources</a></li>
    </ul>
    <ul>
      <li><a href="">Login</a></li>
      <li><a href="" id="sign-up-btn">Sign Up</a></li>
    </ul>
  </nav>
  <button id="menu-btn" (click)="toggleMenuVisibility($event)"><img src="/assets/icon-hamburger.svg" alt="Menu icon"></button>
</header>