@use "../../styles.scss";

header {
	display: flex;
	width: 75%;
	margin: auto;
	align-items: center;
	padding: 50px 0 40px;

	h1 {
		margin: 0 4vw 0 0;
		line-height: 1;
	}

	button {
		display: none;
		padding: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;
		img {
			width: 2.5rem;
			display: block;
		}
	}
}

#site-logo {
	display: block;
}

nav {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;

	ul {
		list-style: none;
		padding: 0;
		display: flex;
		margin: 0;
	}

	a {
		text-decoration: none;
		font-weight: bold;
		color: styles.$grayishViolet;
	}

	a:active, a:hover {
		color: styles.$darkViolet;
	}

	li {
		margin-right: 3vw;
	}

	li:last-child {
		margin-right: 0; 
	}
}

#sign-up-btn {
	padding: 15px 20px;
	font-weight: bold;
	background-color: styles.$cyan;
	border-width: 0;
	border-radius: 30px;
	color: white;
	cursor: pointer;
}

#sign-up-btn:hover, #sign-up-btn:active {
	background-color: styles.$lightCyan;
}


@media screen and (max-width: 800px) {
	header {
		position: relative;
		width: 90%;
		justify-content: space-between;
		padding: 40px 0 20px;

		button {
			display: block;
		}
	}
	nav {
		display: none;
		z-index: 100;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: styles.$darkViolet;
		padding: 40px 25px 15px;
		border-radius: 10px;
		

		ul {
			display: block;
		}

		ul:first-child {
			// padding-bottom: 20px;
		}

		ul:last-child {
			border-top: 1px solid hsl(257, 7%, 35%);
			padding-top: 25px;
		}

		li {
		 	text-align: center;
		 	padding: 5px;
		 	margin-bottom: 25px;
		 	margin-right: 0;
		}

		a {
			color: white;
			font-size: 1.2rem;
		}
	}

	#sign-up-btn {
		display: block;
		margin: 0;
	}

	nav.visible {
		display: block;
	}
}