@use "../../styles.scss";

header {
	display: flex;
	width: 80%;
	margin: auto;
	align-items: center;
	padding: 40px 0;

	h1 {
		margin: 0 4rem 0 0;
		line-height: 1;
	}

	img {
		display: block;
	}
}

nav {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;

	ul {
		list-style: none;
		padding: 0;
		display: flex;
		margin: 0;
	}

	a {
		text-decoration: none;
		font-weight: bold;
		color: styles.$grayishViolet;
	}

	a:active, a:hover {
		color: styles.$darkViolet;
	}

	li {
		margin-right: 3vw;
	}

	li:last-child {
		margin-right: 0; 
	}
}


@media screen and (max-width: 750px) {
	header {
		position: relative;
		width: 90%;
	}
	nav {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: styles.$darkViolet;
		display: block;
		padding: 25px 25px 0;
		border-radius: 10px;
		display: none;
		

		ul {
			display: block;
		}

		li {
		 	text-align: center;
		 	padding: 5px;
		 	margin-bottom: 25px;
		 	margin-right: 0;
		}

		a {
			color: white;
		}
	}
}