<section>
	<h2>Shortly</h2>
	<div>
		<h2>Features</h2>
		<ul>
			<li>Link Shortening</li>
			<li>Branded Links</li>
			<li>Analytics</li>
		</ul>
	</div>
	<div>
		<h2>Resources</h2>
		<ul>
			<li>Blog</li>
			<li>Developers</li>
			<li>Support</li>
		</ul>
	</div>
	<div>
		<h2>Company</h2>
		<ul>
			<li>About</li>
			<li>Our Team</li>
			<li>Careers</li>
			<li>Contact</li>
		</ul>
	</div>
	<ul>
		<li><a href=""><img src="/assets/icon-facebook.svg" alt="Facebook Page link"/></a></li>
		<li><a href=""><img src="/assets/icon-twitter.svg" alt="Twitter Page link"/></a></li>
		<li><a href=""><img src="/assets/icon-pinterest.svg" alt="Pinterest page link"/></a></li>
		<li><a href=""><img src="/assets/icon-instagram.svg" alt="Instagram Page link"/></a></li>
	</ul>
</section>