@use '../../styles.scss';

section {
	width: 75%;
	position: relative;
	top: -80px;
	margin: auto;
}

form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 100px;
	padding: 40px 60px;
	background-color: styles.$darkViolet;
	background-image: url('/assets/bg-shorten-desktop.svg');
	background-position: center;
	background-size: cover;
	border-radius: 10px;

	input {
		flex-grow: 1;
		margin-right: 25px;
		padding: 15px;
		background-color: white;
		border-width: 0;
		font-size: 1.4rem;
		border-radius: 10px;
		outline: none;
	}

	button {
		padding: 15px 40px;
		font-weight: bold;
		background-color: styles.$cyan;
		border-width: 0;
		font-size: 1.4rem;
		border-radius: 10px;
		color: white;
		cursor: pointer;
		display: block;
		margin-top: 10px;
	}

	button:hover, button:active {
	  background-color: styles.$lightCyan;
	}

	li button.copied, li button.copied:hover {
		background-color: styles.$veryDarkBlue;
	  	cursor: auto;
	}

	input.error {
		outline: 3px solid styles.$red;
	}

	input.error::placeholder {
		color: styles.$red;
		opacity: 50%;
	}
}


#error-msg {
	position: absolute;
	bottom: 20px;
	left: 60px;
	color: styles.$red;
	font-style: italic;
}

.result {
	display: flex;
	border-radius: 10px;
	padding: 15px 25px;
	justify-content: space-between;
	background-color: white;
	margin-top: 20px;
	align-items: center;

	div:nth-child(2) {
		display: flex;
		align-items: center;
	}

	button {
		padding: 10px 30px;
		font-weight: bold;
		background-color: styles.$cyan;
		border-width: 0;
		border-radius: 10px;
		color: white;
		cursor: pointer;
		margin-left: 20px;
	}
	
	button.copied {
		background-color: styles.$veryDarkBlue;
	}

	button:hover, button:active {
	  background-color: styles.$lightCyan;
	}
}

.original-url {
	font-size: 1.2rem;
	color: styles.$darkViolet;
	font-weight: 500;
}

.short-url {
	font-size: 1.2rem;
	color: styles.$cyan;
	font-weight: 500;
}

@media screen and (max-width: 1000px) {
	section {
		width: 90%;
		top: -90px;
	}

	form {
		width: unset;
		display: block;
		background-image: url('/assets/bg-shorten-mobile.svg');
		padding: 25px;
		min-height: 120px;
		height: fit-content;

		input {
			width: 100%;
			display: block;
		    margin-right: 0;
		    margin-bottom: 10px;
			border-radius: 5px;
		}

		button {
			display: block;
		    width: 100%;
			border-radius: 5px;
		}	
	}

	#error-msg {
		position: static;
		color: styles.$red;
		font-style: italic;
		margin-bottom: 20px;
	}

	.result {
		display: block;
		border-radius: 10px;
		padding: 0;

		& > div {
			padding: 20px;
		}

		div:nth-child(2) {
			display: block;
			border-top: 1px solid styles.$gray;
		}

		button {
			display: block;
			padding: 10px 30px;
			background-color: styles.$cyan;
			border-radius: 5px;
			color: white;
			cursor: pointer;
			margin-left: 0;
			width: 100%;
			margin-top: 20px;
		}
		
	}
	
}
