@use "../../styles.scss";

section {
	padding: 10px 12.5% 200px;;

	h1 {
		text-align: center;
		font-size: 3rem;
		margin: 50px 0 10px;
		color: styles.$veryDarkBlue;

	}

	#first-feature {
		width: 50%;
		min-width: 450px;
		text-align: center;
		line-height: 1.5;
		margin: 0 auto 80px;
		color: styles.$grayishViolet;
		font-size: 1.3rem;
	}
}

h2 {
	color: styles.$veryDarkBlue;
	font-size: 1.5rem;
	margin-bottom: 15px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;
	align-items: flex-start;
}

li {
	position: relative;
	padding: 80px 30px 50px;
	background-color: white;
	margin-right: 30px;
	border-radius: 10px;

	p {
		line-height: 1.6;
		color: styles.$grayishViolet;
		font-size: 17px;
	}
}

li:nth-child(3) {
	transform: translateY(20%);
}

li:last-child {
	margin-right: 0;
	transform: translateY(40%);
}

#graphic-line {
	background-color: styles.$cyan;
	margin-right: 0;
	position: absolute;
	height: 10px;
	left: 0;
	right: 0;
	padding: 0;
	top: 65%;
}

.feature-icon {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: styles.$darkViolet;
	position: absolute;
	top: -50px;
	left: 10%;
	border-radius: 100%;

	img {
		width: 40%;
	}
}

@media screen and (max-width: 1000px) {
	section{
		padding: 10px 0 40px;
		width: 90%;
		margin: auto;

		h1 {
			text-align: center;
			font-size: 2rem;
			margin: 20px 0 10px;
			color: styles.$veryDarkBlue;
		}
	}

	#graphic-line {
		height: 100%;
		width: 10px;
		left: 48%;
		right: unset;
		padding: 0;
		top: 0;
	}

	ul {
		display: block;
	}

	li {
		margin-right: 0;
		margin-bottom: 50px;
		padding: 60px 30px 40px;
		text-align: center;
	}

	li:nth-child(3) {
		transform: translateY(0);
	}

	li:last-child {
		margin-right: 0;
		transform: translateY(0);
	}

	.feature-icon {
		height: 60px;
		width: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: styles.$darkViolet;
		position: absolute;
		top: -30px;
		left: 45%;
		border-radius: 100%;

		img {
			width: 60%;
		}
	}

}

@media screen and (max-width: 500px) {
	section {
		#first-feature {
			width: unset;
			min-width: unset;
		}
	}

	.feature-icon {
		left: 42%;
	}
}
