<section>
  <h1>Advanced Statistics</h1>
  <p id="first-feature">
    Track how your links are performing across the web with our 
    advanced statistics dashboard.
  </p>
  <ul>
    <li aria-hidden="true" id="graphic-line"></li>
    <li>
      <div class="feature-icon"><img src="/assets/icon-brand-recognition.svg"></div>
      <h2>Brand Recognition</h2>
      <p>
        Boost your brand recognition with each click. Generic links don’t 
        mean a thing. Branded links help instil confidence in your content.
      </p>
    </li>
    <li>
      <div class="feature-icon"><img src="/assets/icon-detailed-records.svg"></div>
      <h2>Detailed Records</h2>
      <p>
        Gain insights into who is clicking your links. Knowing when and where 
        people engage with your content helps inform better decisions.
      </p>
    </li>
    <li>
      <div class="feature-icon"><img src="/assets/icon-fully-customizable.svg"></div>
      <h2>Fully Customizable</h2>
      <p>
        Improve brand awareness and content discoverability through customizable 
        links, supercharging audience engagement.
      </p>
    </li>
  </ul>
</section>