@use "../../styles.scss";

section {
	display: flex;
	justify-content: space-between;
	padding: 100px 0 100px 10%;
	align-items: center;

	h1 {
		font-size: 6vw;
		line-height: 1;
		margin: 0;
	}

	p {
		font-size: 1.2rem;
		color: styles.$gray;
	}

	button {
		padding: 10px 20px;
		background-color: styles.$cyan;
		color: white;
		font-size: 1.2rem;
		font-weight: bold;
		border-width: 0;
		border-radius: 15px;
	}
}

div {
	width: 45%;
	
}

img {
	width: 45%;
	display: block;
}

@media screen and (max-width: 750px) {
	section {
		flex-direction: column;	
		justify-content: flex-start;
		padding: 0;
		text-align: center;

	}

	img {
		order: 0;
		width: 100%;
    padding-left: 5%;
	}

	div {
		order: 1;
		padding: 5%;
    width: unset;
	}
}
